*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../image/field.jpg');
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
}

div{
    border: 1px solid #FFFFFF;
}

.contour{
    width: 95vw;
    height: 95vh;
    margin: auto;
}

.milieu{
    border-width: 0px 1px 0px 0px;
    width: 0px;
    height: 100%;
    margin: auto;
}

.milieu_cercle{
    width: 35vh;
    height: 35vh;
    border-radius: 50%;
    position: absolute;
    top: 32.5vh;
    left: 50%;
    transform: translateX(-50%);
}

.milieu_dot{
    width: 1vh;
    height: 1vh;
    border-radius: 50%;
    position: absolute;
    top: 49.5vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
}

.surface{
    width: 10vw;
    height: 50vh;
    position: absolute;
    top: 25vh;
}

.surface_left{
    left: 2.5vw;
    border-left: 0px;
}

.surface_right{
    right: 2.5vw;
    border-right: 0px;
}

.surface_mini{
    height: 25vh;
    width: 4vw;
    top: 37.5vh;
}

.surface_cercle{
    width: 10vh;
    height: 20vh;
    position: absolute;
    top: 40vh;
}

.surface_cercle_left{
    left: 12.5vw;
    border-radius: 0 20vh 20vh 0;
    border-left: 0px;
}

.surface_cercle_right{
    right: 12.5vw;
    border-radius: 20vh 0 0 20vh;
    border-right: 0px;
}

.penalty{
    width: 1vh;
    height: 1vh;
    border-radius: 50%;
    position: absolute;
    top: 49.5vh;
    background-color: #FFFFFF;
}

.penalty_left{
    left: 23vh;
}

.penalty_right{
    right: 23vh;
}
