*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url('../image/field.jpg');
    background-repeat: repeat;
}

div{
    border: 1px solid #FFFFFF;
}

.terrain{
    width: 90vw;
    height: 90vh;
    border-width: 0;
    position: absolute;
    top: 5vh;
    left: 5vw;
    z-index: 1;
}

.contour{
    width: 45vw;
    height: 90vh;
    border-width: 1px;
    border-right-width: 1px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.milieu_cercle{
    width: 10vmin;
    height: 20vmin;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 20vmin 0 0 20vmin;
    border-right: 0px;
}

.milieu_cercle .point{
    width: 1vmin;
    height: 2vmin;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 2vmin 0 0 2vmin;
    border-right: 0px;
    background-color: #FFFFFF;
}

.corner{
    width: 5vmin;
    height: 5vmin;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 5vmin 0;
    border-width: 0px 1px 1px 0px;
}

.corner.bottom{
    top: 100%;
    left: 0;
    border-radius: 0 5vmin 0 0;
    border-width: 1px 1px 0px 0px;
    transform: translate(0, -100%);
}

.surface{
    width: 10vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 0vw;
    transform: translateY(-50%);
    border-left: 0px;
}

.surface .mini{
    height: 25vh;
    width: 4vw;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-left: 0px;
}

.surface .cercle{
    width: 10vmin;
    height: 20vmin;
    position: absolute;
    top: 50%;
    right: -10.3vh;
    transform: translateY(-50%);
    border-radius: 0 20vmin 20vmin 0;
    border-left: 0px;
}

.penalty{
    width: 1.5vmin;
    height: 1.5vmin;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateY(-50%);
    border: 0;
    background-color: #FFFFFF;
}

.surface .but{
    height: 15vh;
    width: 2vw;
    position: absolute;
    top: 50%;
    left: -2vw;
    transform: translateY(-50%);
    border-right-width: 0px;
}

.contour.right{
    position: absolute;
    right: 0;
    left: auto;
    transform: rotateY(180deg);
}

.ball{
    border: none;
    width:5vmin;
    height:5vmin;
    background-image: url('../image/ball.png');
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: rebond;
    animation-duration: 5s;
    z-index: 999;
}

@keyframes rebond {
  0% {width: 35vmin;height: 35vmin;}
  30% {width: 5vmin;height: 5vmin;}
  60% {width: 10vmin;height: 10vmin;}
  80% {width: 5vmin;height: 5vmin;}
  90% {width: 7vmin;height: 7vmin;}
  95% {width: 5vmin;height: 5vmin;}
  97% {width: 6vmin;height: 6vmin;}
  100% {width: 5vmin;height: 5vmin;}
}
