*{
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

body{
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* INTERFACE */

#info{
	width: 100vw;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border: 2px solid black;
	border: 0px 0px 2px 0px;
	background-color: rgb(143, 143, 143);
}

#score{
	font-family: 'Roboto';
	font-size: 50px;
}

#timer{
	font-family: 'Roboto';
	font-size: 50px;
}

#board{
	width: 100vw;
	height: 90vh;
	overflow: hidden;
	position: relative;
}

#startTimerBack{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .1);
	overflow: auto;
	z-index: 900;
	display: flex;
	justify-content: center;
	align-items: center;
}

#startTimer{
	width: 30vw;
	height: 30vw;
	color: #FF0000;
	font-size: 15em;
	z-index: 999;
	background-color: #FFFFFF50;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 5px solid #FFD700;
	border-radius: 50%;
	z-index: 950;
	/* transition: all .5s; */
	animation-name: battement;
	animation-duration: .5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes battement{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(1.1);
	}
}

/* MENU */
#menu{
	width: 80%;
	height: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	background-color: #8F8F8F;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	position: absolute;
	padding : 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

#menu #menuMode, #menu #menuScore{
	width: 40%;
	height: 100%;
}

#menu h2{
	text-align: center;
	font-size: 2em;
	margin : 30px;
}

#menu .menuItem{
	margin-bottom: 10px;
}

#menu .menuItem h3{
	font-size: 1.7em;
	color: #FFD700;
	margin-bottom: 5px;
	cursor: pointer;
	width: 1px;
}

#menu .menuItem span{
	color: #000080;
	font-style: italic;
	font-size: .8em;
}

/* SHAPES */
	/* COEUR */

.coeur{
    transition: all 1s;
    position: absolute;
    width: 40px;
    height: 40px;
	z-index: 100;
}

.coeur:after, .coeur:before{
    content: '';
    background-color: inherit;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
}

.coeur:after{
    left: 50%;
}

.coeur:before{
    bottom: 50%;
}
