@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	font-family: 'VT323', monospace;
}

body{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0);
}

/* INTERFACE */

#info{
	width: 90vmin;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border-bottom: 2px solid rgb(0, 0, 0);
	background-color: rgb(143, 143, 143);
}

#score{
	font-size: 50px;
}

#timer{
	font-size: 50px;
}

#board{
	width: 90vmin;
	height: 90vmin;
	overflow: hidden;
	position: relative;
	background-color: rgb(255, 252, 0);
}

#popBack{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(65, 65, 65, 0);
	overflow: auto;
	z-index: 900;
	display: flex;
	justify-content: center;
	align-items: center;
}

#startTimer {
	width: 250px;
	height: 250px;
	position: relative;
	background-color: rgb(255, 252, 0);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 998;
}

#startTimerText{
	width: 1px;
	color: rgb(235, 49, 49);
	font-size: 7em;
	z-index: 999;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -51%);
	margin-top: 15px;
	margin-left: -25px;
}

#startTimer .pie {
	width: 49%;
	height: 99%;
	transform-origin: 100% 50%;
	position: absolute;
	background: rgb(0, 136, 204);
}

#startTimer .spinner {
	border-radius: 100% 0 0 100% / 50% 0 0 50%;
	z-index: 200;
	border-right: none;
	animation: rota 1s linear infinite;
}

#startTimer .spinner:after {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	top: 10px;
	right: 10px;
	content: "";
	display: none;
}

#startTimer .filler {
	border-radius: 0 100% 100% 0 / 0 50% 50% 0;
	left: 50%;
	opacity: 0;
	z-index: 100;
	animation: fill 1s steps(1,end) infinite;
	border-left: none;
}

#startTimer .mask {
	width: 125px;
	height: 250px;
	position: absolute;
	background: inherit;
	opacity: 1;
	z-index: 300;
	border-radius: 250px 0 0 250px;
	animation: mask 1s steps(1,end) infinite;
}

@keyframes rota {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes mask {
	0% { opacity: 1;}
	50%, 100% { opacity: 0;}
}

@keyframes fill {
	0% { opacity: 0; }
	50%, 100% { opacity: 1; }
}

@keyframes battement{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(1.1);
	}
}

/* MENU */

#menu{
	width: 80%;
	height: 70%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	background-color: #8F8F8F;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	position: absolute;
	padding : 20px;
	top: 50%;
	left: 50%;
	z-index: 999;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

#menu #menuMode, #menu #menuScore{
	width: 40%;
	height: 100%;
}

#menu h2{
	text-align: center;
	font-size: 2em;
	margin : 20px;
}

#menu .menuItem{
	margin-bottom: 10px;
}

#menu .menuItem h3{
	font-size: 1.7em;
	color: #FFD700;
	margin-bottom: 5px;
	cursor: pointer;
	width: 1px;
}

#menu .menuItem span{
	color: #000080;
	font-style: italic;
	font-size: .8em;
}

#menuPseudo{
	flex : 0 0 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#menuScore ul{
	list-style-type: none;
}

#menuScore li{
	margin-left : 25px;
}

	/* MENU ENDGAME*/

#menu.endGame{
	flex-direction: column;
	justify-content: flex-start;
}

#menu.endGame h2{
	align-self: center;
}

#endScoreKill, #endScoreTime, #endScoreClick, #endScoreBonus, #endScoreTotal{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	font-size : 25px;
	margin-bottom: 20px;
}

#menu.endGame .endScoreCalc{
	display: flex;
}

#endScoreTotal{
	justify-self: end;
	margin-top:auto;
	margin-bottom: 30px;
}

#menu.endGame .filler{
	flex: 1 1 10%;
	height: 30%;
	margin: 0px 5px;
	border-bottom: 2px dotted rgba(0, 0, 0);
}

#menu.endGame .endScoreCalc span{
	margin: 0px 5px;
	display: block;
}

#menu.endGame .endScoreCalc span:last-child{
	width: 100px;
	content:'aaa';
	display: block;
	text-align: right;
}

/* SHAPES */

	/* INVADER */

.invader{
	position: absolute;
	background-color: orange;
}

.invader div{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: inherit;
}

.invader .nose{
	width: 300%;
	left: -100%;
}

.invader .eyebrow{
	width: 500%;
	top: -100%;
	left: -200%;
}

.invader .mouth{
	width: 500%;
	height: 200%;
	top: 100%;
	left: -200%;
}

.invader .leg{
	height: 600%;
	top: -100%;
}

.invader .leg.left{
	left: -300%;
}

.invader .leg.right{
	right: -300%;
}

.invader .shoulder{
	height: 200%;
}

.invader .shoulder.left{
	left: -400%;
}

.invader .shoulder.right{
	right: -400%;
}

.invader .arm{
	height: 300%;
	top: -200%;
}

.invader .arm.left{
	left: -500%;
}

.invader .arm.right{
	right: -500%;
}

.invader .foot{
	top: 400%;
}

.invader .foot.left{
	left: -400%;
}

.invader .foot.right{
	right: -400%;
}

.invader .ear{}

.invader .ear.bottom{
	top: -200%;
}

.invader .ear.bottom.left{
	left: -200%;
}

.invader .ear.bottom.right{
	right: -200%;
}

.invader .ear.top{
	top: -300%;
}

.invader .ear.top.left{
	left: -300%;
}

.invader .ear.top.right{
	right: -300%;
}

	/* GHOST */

.ghost{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 70px;
	left: 350px;
	background-color: red;
}

.ghost div{
	width: 100%;
	height: 100%;
	background-color: inherit;
	position: absolute;
}

.ghost .nose{
	width: 300%;
	left: -100%;
}

.ghost .headbot{
	width: 700%;
	top: -100%;
	left: -300%;
}

.ghost .headtop{
	width: 500%;
	top: -200%;
	left: -200%;
}

.ghost .shoulder{
	width: 200%;
	top: 0%;
}

.ghost .shoulder.left{
	left: -400%;
}

.ghost .shoulder.right{
	right: -400%;
}

.ghost .body{
	width: 900%;
	height: 400%;
	top: 100%;
	left: -400%;
}

.ghost .foot{
	top: 500%;
}

.ghost .foot.fullleft{
	left: -400%;
}

.ghost .foot.left{
	left: -200%;
}

.ghost .foot.middle{
	left: 0%;
}

.ghost .foot.right{
	right: -200%;
}

.ghost .foot.fullright{
	right: -400%;
}


	/* SQUID */

.squid{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 80px;
	left: 550px;
	background-color: blue;
}

.squid div{
	width: 100%;
	height: 100%;
	background-color: inherit;
	position: absolute;
}

.squid .nose{
	width: 200%;
	top: 0%;
	left: 0%;
}

.squid .eyebrow{
	width: 600%;
	top: -100%;
	left: -200%;
}

.squid .headbot{
	width: 400%;
	top: -200%;
	left: -100%;
}

.squid .headtop{
	width: 200%;
	top: -300%;
	left: 0%;
}

.squid .shoulder{
	width: 200%;
	top: 0%;
}

.squid .shoulder.left{
	left: -300%;
}

.squid .shoulder.right{
	right: -400%;
}

.squid .mouth{
	width: 800%;
	top: 100%;
	left: -300%;
}

.squid .tentacle{}

.squid .tentacle.top{
	top: 200%;
}

.squid .tentacle.top.left{
	left: -100%;
}

.squid .tentacle.top.right{
	right: -200%;
}

.squid .tentacle.middle{
	top: 300%;
}

.squid .tentacle.middle.left{
	left: -200%;
}

.squid .tentacle.middle.mid{
	width: 200%;
	left: 0%;
}

.squid .tentacle.middle.right{
	right: -300%;
}

.squid .tentacle.bottom{
	top: 400%;
}

.squid .tentacle.bottom.fullleft{
	left: -300%;
}

.squid .tentacle.bottom.left{
	left: -100%;
}

.squid .tentacle.bottom.right{
	right: -200%;
}

.squid .tentacle.bottom.fullright{
	right: -400%;
}

	/* MEEPLE */

.meeple{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 80px;
	left: 750px;
	background-color: pink;
}

.meeple div{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: inherit;
}

.meeple .nose{
	top: 0%;
	left: 0%;
}

.meeple .eyebrow{
	width: 500%;
	top: -100%;
	left: -200%;
}

.meeple .ear.bottom{
	top: -200%;
}

.meeple .ear.bottom.left{
	left: -100%;
}

.meeple .ear.bottom.right{
	right: -100%;
}

.meeple .ear.top{
	top: -300%;
}

.meeple .ear.top.left{
	left: -200%;
}

.meeple .ear.top.right{
	right: -200%;
}

.meeple .shoulder{
	width: 200%;
}

.meeple .shoulder.left{
	left: -300%;
}

.meeple .shoulder.right{
	right: -300%;
}

.meeple .mouth{
	width: 700%;
	top: 100%;
	left: -300%;
}

.meeple .arm{
	height: 300%;
	top: 100%;
}

.meeple .arm.left{
	left: -400%;
}

.meeple .arm.right{
	right: -400%;
}

.meeple .body{
	width: 500%;
	height: 200%;
	top: 200%;
	left: -200%;
}

.meeple .leg{
	height: 200%;
	top: 400%;
}

.meeple .leg.left{
	left: -100%;
}

.meeple .leg.right{
	right: -100%;
}

.meeple .foot{
	top: 500%;
}

.meeple .foot.left{
	left: -200%;
}

.meeple .foot.right{
	right: -200%;
}

	/* OCTOPUS */

.octopus{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 80px;
	left: 100px;
	background-color: red;
}

.octopus div{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: inherit;
}

.octopus .nose{
	width: 200%;
	top: 0%;
	left: 0%;
}

.octopus .eyebrow{
	width: 600%;
	top: -100%;
	left: -200%;
}

.octopus .head{
	width: 400%;
	top: -200%;
	left: -100%;
}

.octopus .shoulder{
	width: 200%;
	top: 0%;
}

.octopus .shoulder.left{
	left: -300%;
}

.octopus .shoulder.right{
	right: -400%;
}

.octopus .body{
	width: 800%;
	height: 200%;
	top: 100%;
	left: -300%;
}

.octopus .tentacle{
	width: 200%;
}

.octopus .tentacle.top{
	top: 300%;
}

.octopus .tentacle.top.left{
	left: -200%;
}

.octopus .tentacle.top.right{
	right: -300%;
}

.octopus .mouth{
	width: 200%;
	top: 400%;
	left: 0%;
}

.octopus .tentacle.middle{
	top: 400%;
}

.octopus .tentacle.middle.left{
	left: -300%;
}

.octopus .tentacle.middle.right{
	right: -400%;
}

.octopus .tentacle.bottom{
	top: 500%;
}

.octopus .tentacle.bottom.left{
	left: -400%;
}

.octopus .tentacle.bottom.right{
	right: -500%;
}

	/* SPIDER */

.spider{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 80px;
	left: 100px;
	background-color: orange;
}

.spider div{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: inherit;
}

.spider .nose{
	left: 0%;
	right: 0%;
}

.spider .eyebrow{
	width: 500%;
	top: -100%;
	left: -200%;
}

.spider .ear{
	top: -200%;
}

.spider .ear.left{
	left: -100%;
}

.spider .ear.right{
	right: -100%;
}

.spider .mouth{
	width: 500%;
	top: 100%;
	left: -200%;
}

.spider .shoulder{
	top: 0%;
}

.spider .shoulder.left{
	left: -200%;
}

.spider .shoulder.right{
	right: -200%;
}

.spider .leg{
	height: 400%;
	top: 0%;
}

.spider .leg.left{
	left: -300%;
}

.spider .leg.right{
	right: -300%;
}

.spider .hand{
	height: 200%;
	top: -100%;
}

.spider .hand.left{
	left: -400%;
}

.spider .hand.right{
	right: -400%;
}

.spider .foot{
	top: 300%;
}

.spider .foot.left{
	left: -400%;
}

.spider .foot.right{
	right: -400%;
}

.spider .tooth{
	top: 200%;
}

.spider .tooth.left{
	left: -100%;
}

.spider .tooth.right{
	right: -100%;
}

	/* UFO */

.ufo{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 80px;
	left: 200px;
	background-color: purple;
}

.ufo div{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: inherit;
}

.ufo .middle{
	top: 0%;
}

.ufo .middle.mid{
	left: 0%;
}

.ufo .middle.left{
	left: -200%;
}

.ufo .middle.right{
	right: -200%;
}

.ufo .middle.fullleft{
	width: 300%;
	left: -600%;
}

.ufo .middle.fullright{
	width: 300%;
	right: -600%;
}

.ufo .head{
	width: 700%;
	height: 200%;
	top: -200%;
	left: -300%;
}

.ufo .topside{
	width: 200%;
	top: -100%;
}

.ufo .topside.left{
	left: -500%;
}

.ufo .topside.right{
	right: -500%;
}

.ufo .top{
	width: 500%;
	top: -300%;
	left: -200%;
}

.ufo .body{
	height: 200%;
	width: 1500%;
	top: 100%;
	left: -700%;
}

.ufo .botside{
	top: 200%;
}

.ufo .botside.left{
	left: -800%;
}

.ufo .botside.right{
	right: -800%;
}

.ufo .reactor{
	width: 300%;
	top: 300%;
}

.ufo .reactor.left{
	left: -600%;
}

.ufo .reactor.middle{
	left: -100%;
}

.ufo .reactor.right{
	right: -600%;
}

.ufo .fire{
	top: 400%;
}

.ufo .fire.left{
	left: -500%;
}

.ufo .fire.right{
	right: -500%;
}

	/* RAINBOW */

.rainbow{
	background: linear-gradient(45deg, red, orange , yellow, green, cyan, blue, violet);
}
