.flex div{
    width: 100px;
    height: 100px;
}

.flex{
    background-color: orange;
    height: 300px;
    width : 90vw;
    margin: auto;
    display: flex;
}


.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}
