*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url('../image/field.jpg');
    background-repeat: repeat;
}

div{
    border: 1px solid #FFFFFF;
}

.contour{
    width: 48vw;
    height: 96vh;
    border-width: 1px;
    border-right-width: 1px;
    position: relative;
    top: 10px;
    left: 2vw;
}

.milieu_cercle{
    width: 10vh;
    height: 20vh;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 20vh 0 0 20vh;
    border-right: 0px;
}

.milieu_cercle .point{
    width: 1vh;
    height: 2vh;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 2vh 0 0 2vh;
    border-right: 0px;
    background-color: #FFFFFF;
}

.surface{
    width: 10vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 0vw;
    transform: translateY(-50%);
    border-left: 0px;
}

.surface .mini{
    height: 25vh;
    width: 4vw;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-left: 0px;
}

.surface .cercle{
    width: 10vh;
    height: 20vh;
    position: absolute;
    top: 50%;
    right: -10.3vh;
    transform: translateY(-50%);
    border-radius: 0 20vh 20vh 0;
    border-left: 0px;
}

.penalty{
    width: 1.5vh;
    height: 1.5vh;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateY(-50%);
    border: 0;
    background-color: #FFFFFF;
}

.contour.right{
    position: absolute;
    top: 10px;
    right: 2vw;
    left:auto;
    transform: rotateY(180deg);
}

.ball{
    border: none;
    width:5vh;
    height:5vh;
    background-image: url('../image/ball.png');
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: rebond;
    animation-duration: 5s;
}

@keyframes rebond {
  0% {width: 35vh;height: 35vh;}
  30% {width: 5vh;height: 5vh;}
  60% {width: 10vh;height: 10vh;}
  80% {width: 5vh;height: 5vh;}
  90% {width: 7vh;height: 7vh;}
  95% {width: 5vh;height: 5vh;}
  97% {width: 6vh;height: 6vh;}
  100% {width: 5vh;height: 5vh;}
}
